@charset "utf-8";

header{
  /* background-color: pink; */
  width: 100%;
  height: 70px;
  text-align: center;
}

body{
  margin: 0;
  background-color: rgb(179, 175, 175) !important;
}

button.button{
  font-size: 20px;
  border-radius : 10%;
  background-color: white;
  color: pink;
  border: none; 
  margin-top: 30px;
  margin-right: 25px;
  text-align: center;
  
  display: inline-block;
}

a:not([class="link"]){
  text-decoration: none;
  color: rgb(137, 89, 214);
}

ul{
  list-style-type: none;
  padding: 0px;
}

hr{
  border-width: 2px;
  border-color: white;
  margin-top: 50px;
}

.profile{
  float: left;
}

main{
  text-align: center;
  
}

img{
  border-radius: 30%;
  margin-top: 70px;
  width: 300px;
  height: 300px;
  }

.features>h2,h3{
  margin-bottom: 0px;
  margin-top: 0px;
}

h1{
  color: rgb(235, 233, 233);
  font-family: verdana; 
  font-size: 50px;
}

h2,h3{
  color: rgb(63, 58, 58);
}

span{
  color:  rgb(137, 89, 214);
  /* color:rgb(87, 143, 165); */
  font-weight: bold;
  font-size: 17px;
}

footer{
  text-align: center;
  background-color: rgb(179, 175, 175);
  padding-top: 50px;
  margin: 0;
}