<!DOCTYPE html>
<html lang="ja">

   <head>
   <meta charset="uft-8">
      <title>M.O portfolio</title> 
      <meta name="portfolio" content="小川瑞生ポートフォリオ">
      <link rel="stylesheet" href="css2/portfolio.css">
   </head> 

<body>
  <header>
  <h1>MY PORTFOLIO</h1>
  </header>

 <main>
   <div class=Choco>
     <p>
      <h2>Chocolate</h2>
    </p>
      <img src="img/nama.jpg">
      <img src="img/bonbon.jpg">
      <img src="img/tabretchocolat.jpg">
   </div>

   <div class=D>
      <h2>Drink</h2>
         <img src="img/dorucherate - コピー.jpg">
         <img src="img/bluehawaii.jpg">
         <!-- <img src="img/berrysoda.jpg"> -->
         <img src="img/kuri-musodajpg.jpg">
    </div>

   <div class=Poster>
      <h2>Poster</h2>
         <img src="img/rule.png">
         <img src="img/t.o.jpg">
    </div>
  </main>

  <div class="wrapper">
    <footer class="footer">
      <p><a href="#top">go to TOP</a></p>
      <p> 202007 Mizuki Ogawa</p>
    </footer>
  </div>
</body>

</html>